#added-notification-container {
  position: fixed;
  top: 3%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: -100;
}

.added-notification {
  border-radius: 5px;
  padding: 10px;
  color: #000000;
  background-color: bisque;
  font-size: 10px;
}
