#advanced-search-container {
  color: #d9d9d9;
  padding-top: 5px;
  border: 0.5px solid rgba(201, 201, 201, 0.5);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  height: min-content;
  overflow-y: visible;
  z-index: 1;
  padding-bottom: 70px;
  padding-right: 10px;
}

.unhide-filters {
  display: block;
}

#title-as {
  font-size: 25px;
  font-weight: 500;
}

#btn-filter-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1.5rem;
}

#apply-filters {
  background-color: rgba(103, 161, 255, 0.9);
  padding: 0 10px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
}

#apply-filters:disabled {
  background-color: #d9d9d9;
  color: #a1a1a1;
  cursor: auto;
}

#apply-filters:hover {
  outline: none;
}

#apply-filters:active {
  background-color: rgba(103, 161, 255, 1);
}

#filters {
  margin-top: 20px;
}

@media (max-width: 950px) {
  #advanced-search-container {
    background-color: rgba(0, 0, 0, 0.8);
    width: 350px;
    /* height: 450px; */
    height: fit-content;
    box-shadow: 1px 1px 16px 4px rgba(255, 255, 255, 0.5);
    margin: 0;
  }

  .hide-filters {
    display: none;
  }
}
