.filter-dropdown-container {
  color: #d9d9d9;
  min-height: 33px;
  max-height: 160px;
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  background-color: black;
  z-index: 99;
  left: 16px;
  right: 16px;
  display: none;
  margin-bottom: 20px;
  /* transform: rotate(180deg); */
}

#solution {
  top: -145%;
}

.searching {
  padding: 10px;
}

.filter-entry {
  padding: 7px 10px;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
}

.filter-entry:focus {
  background: rgb(255, 255, 255, 0.3);
  color: #ffffff;
}

.filter-entry:hover {
  background: rgb(255, 255, 255, 0.3);
  color: #ffffff;
}

.filter-entry:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

#initial-search {
  padding: 10px;
  text-align: center;
  color: #d9d9d98c;
}

.no-input {
  margin-bottom: 5px;
}

.enter-input-msg {
  font-size: 15px;
}

.no-results {
  padding: 10px;
  color: #d9d9d98c;
}

@media (max-width: 950px) {
  .solution-dropdown-container {
    border: 0.5px solid rgba(201, 201, 201, 0.5);
    left: 16px;
    right: 16px;
  }

  #solution {
    max-height: 157px;
    top: 100%;
  }

  .sector-dropdown-container {
    border: 0.5px solid rgba(201, 201, 201, 0.5);
    left: 16px;
    right: 16px;
  }
}
