/* Overrides white from Nav.css */

#maps-page {
  color: black;
}

#shownav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 1rem;
  width: 100vw;
  border: none;
  background-color: #0d0d0d;
  color: white;
  text-align: top;
}

#shownav:focus {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

/* #search {
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 10px;
  z-index: 1;
} */

/* #map {
  width: 100vw;
  height: 100vh;
  z-index: -1;
} */

.ol-attribution span {
  color: white;
}

/* Below styles for popups borrowed from https://openlayers.org/en/latest/examples/popup.html */

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  background: none !important;
  border: none;
  padding: 0 !important;
}

.ol-popup-closer:hover {
  text-decoration: underline;
}

.ol-popup-closer:after {
  content: "✖";
  color: black;
}
