.radio-wrapper {
    height: 5.5rem;
    position: absolute;
    bottom: .55rem;
    right: 50px;
    display: inline;
    align-items: center;
    border-radius: 4px;
    width: 9rem;
    color: white;
    padding-top: .5rem;
    text-align: center;
    background-color: black;
    opacity: .7;
}

.radio-input {
    display: block;
    word-wrap: break-word;
    margin-top: .2rem;
    width: 7rem;
    padding-left: 1rem;
    text-align: justify;
}

.map-label {
    float: right;
}

@media (max-width: 767px) {
    .radio-wrapper {
        right: 1rem;
    }
}