.map-help-btn {
    color: #333333;
    background-color: #fefefe;
    box-shadow: 0 0 5px 0 #999999;
    border: none;
    border-radius: 3px;
    line-height: 35px;
    font-size: 1rem;
    font-weight: 300;
    padding: 0 10px;
    cursor: pointer;
}
.help-content-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.help-content {
    max-height: 95%;
    overflow-y: auto;
    max-width: 700px;
    background-color: #181818;
    border-radius: 4px;
    padding: 1rem 2rem 1.5rem;
    box-shadow: 1px 1px 16px 4px rgba(255, 255, 255, 0.5);
    position: relative;
}
.help-content .close-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.help-content .close-btn img {
    height: 1.5rem;
    width: 1.5rem;
}
.help-content p {
    margin: 1rem 0;
}
.map-help-link {
  color: #333333;
  background-color: #fefefe;
  box-shadow: 0 0 5px 0 #999999;
  border: none;
  border-radius: 3px;
  line-height: 35px;
  font-size: 1rem;
  font-weight: 300;
  padding: 0 10px;
  text-decoration: none;
  width: fit-content;
}

@media (max-width: 812px) {
    .help-content-container {
        padding: 0;
    }
    .help-content {
        height: 100%;
        max-width: 100vw;
        width: 100%;
        box-shadow: none;
        justify-content: start;
    }
}

@media (max-width: 959px) and (min-width: 768px) {
    .map-help-btn {
        left: 472px;
    }
}

@media (max-width: 767px) {
    .map-help-btn {
        font-size: 90%;
        padding: 0 20px;
        height: 2.2rem;
    }
}