.map-help-btn {
    position: absolute;
    left: 503px;
    top: 0.5rem;
    display: inline;
    color: #333333;
    background-color: #fefefe;
    border: none;
    border-radius: 3px;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
    padding: 8px 20px;
    cursor: pointer;
    z-index: 1;
}

.help-content-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.help-content {
    min-height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #181818;
    border-radius: 4px;
    padding: 1rem 2rem 1.5rem;
    box-shadow: 1px 1px 16px 4px rgba(255, 255, 255, 0.5);
    position: relative;
}

.help-content .close-btn {
    cursor: pointer;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.help-content .close-btn:hover {
    background-color: #454545;
}

.help-content p {
    margin: 1rem;
}

@media (max-width: 850px) {
    .help-content-container {
        padding: 0;
    }
    .help-content {
        height: 100%;
        width: 100%;
        box-shadow: none;
        overflow: scroll;
    }
    .help-content .close-btn {
        position: relative;
        margin: 0px auto 10px auto;
    }
}

@media (max-width: 959px) and (min-width: 768px) {
    .map-help-btn {
        left: 472px;
    }
}

@media (max-width: 767px) {
    .map-help-btn {
        top: 3.5rem;
        left: 150px;
        font-size: 90%;
        padding: 0 20px;
        height: 2.2rem;
    }
}