.map-burger {
  position: absolute;
  top: calc(0.5rem + 3px);
  right: 25px;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
.map-burger div {
  width: 23px;
  height: 2px;
  background-color: #ededed;
  margin: 2.5px;
  transition: all 0.3s ease;
}
.map-nav-links {
  list-style: none;
  position: absolute;
  width: 200px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.9);
  box-shadow: 0 0 5px 0 #111111;
  padding: 40px;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}
.map-nav-links li {
  opacity: 0;
  margin: 20px 0;
  width: fit-content;
}
.map-nav-links a {
  color: #ededed;
  text-decoration: none;
}
.toggle .map-line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .map-line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
.map-nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .map-burger {
    right: 15px;
  }
  .map-burger div {
    width: 20px;
    margin: 2px;
  }
  .map-nav-links {
    font-size: 90%;
  }
}