.map-signin-wrapper {
  height: 2.5rem;
  position: absolute;
  top: calc(0.5rem + 3px);
  right: 70px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.map-signin-btn {
  border: none;
  border-radius: 4px;
  background-color: rgb(61, 91, 131);
  color: #ffffff;
  padding: 5px 10px;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 767px) {
  .map-signin-wrapper {
    right: 50px;
  }
}