.min-max-label {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
}
.min-max-inputs {
  display: flex;
}
.min-max-inputs input {
  font-size: 1rem;
  font-weight: 300;
  width: 5rem;
  padding: 0 5px;
  border: 1px solid #bbbbbb;
}
.min-max-inputs input:disabled {
  color: #dddddd;
  border-color: #dddddd;
}
.hyphen {
  margin: 0 5px;
}
.hyphen.disabled {
  color: #dddddd;
}