#main-search {
  color: #333333;
  height: 2.5rem;
  width: 24rem;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  background-color: #fefefe;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 #999999;
}
#main-search input {
  height: 100%;
  flex: 1;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  line-height: 24px;
  outline: none;
}
#main-search img {
  cursor: pointer;
}
#suggestions {
  visibility: hidden;
  position: absolute;
  top: 2.8rem;
  left: 0;
  max-height: 175px;
  height: fit-content;
  width: 24rem;
  color: #333333;
  background-color: #fefefe;
  box-shadow: 0 0 5px 0 #999999;
  padding: 5px 0;
  border-radius: 4px;
  font-weight: 300;
  overflow-y: auto;
}
#suggestions p {
  padding: 5px 20px;
  cursor: pointer;
  font-size: 0.9rem;
}
#suggestions p:hover {
  background-color: #eeeeee;
}
#suggestions.active {
  visibility: visible;
}

#dropdown-container {
  position: absolute;
  top: 4.5rem;
  left: calc(0.5rem + 3px);
  height: 3.5rem;
  width: 24rem;
  display: flex;
  align-items: center;
  background-color: #fefefe;
  /* border-radius: 4px; */
  /* box-shadow: 0 0 5px 0 #999999; */
  /* padding: 5px 20px; */
  overflow: hidden;
  overflow-y: scroll;
}

#dropdown-container ul {
  background-color: #fefefe;
  width: 100%;
  border: none;
  height: 3rem;
  list-style-type: none;
}

#dropdown-container ul li {
  border-radius: 4px;
  box-shadow: 0 0 1px 0 #999999;
  width: 100%;
  padding: 5px 20px;
}

#dropdown-container ul li:hover {
  cursor: pointer;
}

#list-container {
  position: relative;
}

@media (max-width: 500px) {
  #main-search {
    width: 16rem;
  }
  #dropdown-container {
    width: 16rem;
  }
}
