.story-dashboard {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4px 0 #333333;
  width: 21rem;
  padding: 4rem 0.5rem 1rem;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 0.4s;
  display: none;
}
.story-dashboard::-webkit-scrollbar {
  display: none;
}
.story-dashboard.active {
  display: block;
  opacity: 1;
}
.card {
  background-color: rgba(255, 255, 255, 0.95);
  color: #333333;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 1rem;
  font-size: 14px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.9);
}
.card .title {
  font-size: 16px;
  font-weight: 400;
}
.target-title {
  /* If this is changed it should also be changed in  olStyles.js */
  color: rgb(66, 173, 16);
}
.card .item-name {
  font-weight: 400;
}
.card .item-name+p {
  font-weight: 100;
  padding-left: 1rem;
}
.positive {
  color: #ff3862;
}
.negative {
  color: #38c8ff;
}
.map-toggle-btn {
  border: 1px solid #333333;
  border-radius: 4px;
  background-color: transparent;
  color: #333333;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  margin-left: 8px;
  display: none;
}

@media (max-width: 959px) and (min-width: 768px) {
  .story-dashboard {
    width: 19rem;
  }
}

@media (max-width: 767px) and (min-width: 481px) {
  .ol-zoom,
  .ol-attribution {
    display: none;
  }
  .story-dashboard {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 4px 4px 0 0;
    padding: 1rem;
    height: fit-content;
    top: unset;
  }
  .story-dashboard.active {
    display: flex;
  }
  .story-dashboard .card {
    width: 50%;
  }
  .story-dashboard .card:not(:last-child) {
    margin-right: 1rem;
  }
  .card.mobile-hide {
    display: block;
  }
  .card {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .ol-zoom,
  .ol-attribution {
    display: none;
  }
  .story-dashboard {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 4px 4px 0 0;
    padding: 0.5rem;
    height: fit-content;
    max-height: 240px;
    top: unset;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  .story-dashboard.open {
    max-height: 65vh;
    overflow-y: auto;
  }
  .card.mobile-hide {
    display: none;
  }
  .card {
    margin-bottom: 0;
  }
  .map-toggle-btn {
    display: inline-flex;
  }
}