.avatar-wrapper {
  position: absolute;
  top: calc(0.5rem + 3px);
  right: 70px;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.avatar {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid #fefefe;
}
.user-info {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #fefefe;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 #999999;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.user-info img {
  border-radius: 50%;
}
.user-info p {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .avatar-wrapper {
    right: 55px;
  }
}
@media (max-width: 480px) {
  .user-info {
    display: none !important;
  }
}