.help-sidenav-item {
  padding: 10px 30px;
  height: 52px;
  /* font-size: 20px; */
}

@media (max-width: 870px) {
  .help-sidenav-item {
    /* font-size: 15px; */
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .help-sidenav-item {
    /* font-size: 12px; */
    padding-left: 10px;
    padding-right: 10px;
  }
}
