.landing-story-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  text-decoration: none;
  color: #ededed;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}
.landing-story-wrapper .story-image {
  height: 200px;
  width: 100%;
  overflow: hidden;
  border-radius: 2px 0 0 2px;
}
.landing-story-wrapper .story-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.landing-story-wrapper .story-detail {
  padding: 8px 1rem;
}
.landing-story-wrapper .story-detail p:not(:last-child) {
  margin-bottom: 1rem;
}
.landing-story-wrapper .story-detail p:not(.story-title) {
  font-size: 14px;
  font-weight: 300;
}
.landing-story-wrapper .story-detail .story-hyperlink {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .landing-story-wrapper {
    display: block;
  }
}

@media (max-width: 480px) {
  .landing-story-wrapper {
    display: block;
  }
  .landing-story-wrapper .story-image {
    border-radius: 2px 2px 0 0;
    height: 130px;
  }
  .landing-story-wrapper .story-image img {
    width: 100%;
    height: auto;
  }
}