.map-story-wrapper {
  display: block;
  width: 20rem;
}
.map-story-wrapper:not(:last-child) {
  margin-bottom: 1rem;
}
.map-story-wrapper .story-image {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px 2px 0 0;
}
.map-story-wrapper .story-detail p:not(:last-child) {
  margin-bottom: 1rem;
}

@media (max-width: 959px) {
  .map-story-wrapper {
    width: 18rem;
  }
}

@media (max-width: 767px) and (min-width: 481px) {
  .map-story-wrapper {
    display: none;
  }
}

@media (max-width: 480px) {
  .map-story-wrapper {
    width: 100%;
    margin-top: 0.5rem;
  }
}
