.help-sidebar {
  top: 0;
  height: 100%;
  padding-top: 7rem;
  width: 250px;
  position: fixed;
  background-color: rgba(10, 10, 10, 0.7);
  box-shadow: 3px 0 6px rgba(10, 10, 10, 0.5);
}

.help-sidenav-item {
  padding: 10px 20px;
  height: 52px;
  font-size: 20px;
}

.sidenav-link-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.2s;
}

.sidenav-link-item:hover {
  color: rgba(255, 255, 255, 1);
}

.sidenav-active {
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 870px) {
  .help-sidebar {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    padding-top: 0;
    width: 100%;
    height: auto;
  }

  .help-sidenav-item {
    font-size: 15px;
  }
}
