#explore-screen {
  color: #ededed;
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 40px) / 3));
  grid-template-rows: 90px auto;
  column-gap: 30px;
  background: linear-gradient(
    to top,
    transparent,
    transparent 250px,
    #0d0d0d 250px,
    transparent
  );
  padding-bottom: 200px;
}
#explore-header {
  opacity: 0;
  color: #ededed;
  text-transform: capitalize;
  grid-area: 1 / 1 / span 1 / span 3;
  font-size: 2rem;
  font-weight: 400;
}
.spinner-explore-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 2 / 2 / auto / auto;
  align-items: center;
  margin-top: 0;
  background-color: transparent;
  height: 100px;
}
.spinner-explore {
  border: 3px solid #575757;
  border-radius: 50%;
  border-bottom: 3px solid #dbdbdb;
  width: 30px;
  height: 30px;
  animation: spin 0.5s linear infinite;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .tab-title {
    font-size: 1.8rem;
  }
  #explore-screen {
    column-gap: 25px;
  }
}

@media (max-width: 767px) {
  #explore-screen {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
  }
  #explore-header {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  .explore-tile {
    margin-bottom: 60px;
  }
  .popular-stories-title {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #explore-header {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}