#explore-screen {
  color: #ededed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 90px auto;
  column-gap: 30px;
  background: linear-gradient(
    to top,
    transparent,
    transparent 250px,
    #0d0d0d 250px,
    #0d0d0d
  );
  padding-bottom: 250px;
}

#explore-header {
  opacity: 0;
  color: #ffffff;
  text-transform: capitalize;
  grid-area: 1 / 1 / span 1 / span 3;
}

.explore-tile {
  opacity: 0;
  width: 100%;
  filter: brightness(75%);
  text-decoration: none;
  color: #ededed;
}

.explore-tile:hover {
  filter: brightness(100%);
  background-color: inherit;
}

.explore-tile img {
  width: 100%;
  object-fit: cover;
  height: 190px;
}

.popular-stories-title {
  font-weight: 800;
  overflow: hidden;
  width: 25vw;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.ps-title-link {
  color: #ededed;
  text-decoration: none;
}

.ps-title-link:hover {
  text-decoration: underline;
}

.ps-description {
  color: #adadad;
  font-weight: 300;
  transform: translateY(5px);
}

.spinner-explore-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 2 / 2 / auto / auto;
  align-items: center;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.spinner-explore {
  border: 3px solid #575757;
  border-radius: 50%;
  border-bottom: 3px solid #dbdbdb;
  width: 30px;
  height: 30px;
  animation: spin 0.5s linear infinite;
}

@media (max-width: 959px) and (min-width: 768px) {
  #explore-screen {
    column-gap: 25px;
  }
}

@media (max-width: 767px) {
  #explore-screen {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
  }
  #explore-header {
    margin-bottom: 2rem;
  }
  .explore-tile {
    margin-bottom: 60px;
  }

  .popular-stories-title {
    width: 100%;
  }
}
