#spinner-landing {
  border: 3px solid #575757;
  border-radius: 50%;
  border-bottom: 3px solid #dbdbdb;
  animation: spin 2s linear infinite;
  position: absolute;
  right: 20px;
  transform: translateX(-1.6rem);
  width: 30px;
  height: 30px;
}
#first-screen {
  min-height: 100vh;
  color: #ededed;
  margin-bottom: 80px;
}
#animation-first {
  animation: firstScreen 1s ease-in-out 0s forwards;
}
@keyframes firstScreen {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.tab-input {
  display: flex;
  position: relative;
  width: 90%;
  max-width: 700px;
}
#stories-tab .tab-input,
#map-tab .tab-input {
  align-items: center;
}
.tab-input input {
  width: 100%;
  color: #0d0d0d;
  background-color: rgba(255, 255, 255, 0.85);
  border: none;
  padding: 1rem 1.6rem;
  padding-right: 3rem !important;
  font-size: 1.2rem;
  font-weight: 300;
}
.tab-input img {
  cursor: pointer;
  position: absolute;
  right: 0;
  transform: translateX(-1.6rem);
}
.tab-input a {
  color: white;
}
.tab-input a:hover {
  color: rgba(255, 255, 255, 0.95);
}
.primary-btn {
  background-color: rgba(255, 255, 255, 0.9);
  width: 10rem;
  height: 3rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  margin-right: 1rem;
  line-height: 3rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
.primary-btn:link,
.primary-btn:active,
.primary-btn:visited {
  color: #0d0d0d;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh + 300px);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../images/nasa-Q1p7bh3SHj8-unsplash.jpg");
  background-size: cover;
  z-index: -1;
  box-shadow: 1vw -50vh 50vh 0 #0d0d0d inset;
}
.tabs {
  padding-top: 30vh;
}
.tab-btn {
  display: inline-block;
  position: relative;
  font-weight: 300;
}
.tab-btn.active {
  font-weight: 400;
}
.tab-btn::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  transition: width 0.3s;
  background-color: #ededed;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.tab-btn.active::after {
  width: 100%;
}
.tab-btn:not(:last-child) {
  margin-right: 2rem;
}
.tab-container {
  display: none;
  position: relative;
  margin-top: 1rem;
}
.tab-container.active,
.tab-title.active {
  display: block;
}
.tab-title {
  font-size: 2.2rem;
  font-weight: 400;
  display: none;
  margin-bottom: 1rem;
}
.tab-description {
  /* Same width as search bar */
  max-width: 700px;
  margin-top: 1rem;
}
.tab-description p:first-child {
  font-weight: 400;
}
.tab-description p {
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.place-suggestions {
  position: absolute;
  top: 100%;
  color: #0d0d0d;
  background-color: rgba(221, 221, 221, 0.99);
  width: 100%;
  padding: 1rem 1.6rem;
  border-top: 1px solid #0d0d0d;
  font-weight: 300;
  z-index: 1;
  max-height: 220px;
  overflow-y: auto;
  display: none;
}
.place-suggestions p {
  cursor: pointer;
  font-weight: 400;
}
.place-suggestions p:not(:last-child) {
  margin-bottom: 0.8rem;
}
.place-suggestions p span {
  display: block;
  font-size: 14px;
  font-weight: 300;
}
.research-input-wrapper {
  width: 50%;
}
.research-input-wrapper:not(:last-child) {
  margin-right: 1rem;
}
.research-input-wrapper label {
  margin: 8px;
  display: inline-block;
}
.research-input-wrapper label span {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 300;
}
.research-btn-wrapper {
  margin-top: 1rem;
}
.research-btn-wrapper button {
  border: 1px solid #ededed;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.85);
  color: #0d0d0d;
  padding: 8px 1rem;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}
.research-btn-wrapper button:not(:last-child) {
  margin-right: 8px;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .tab-input input {
    width: 100%;
    padding: 0.8rem 1.4rem;
    font-size: 1.1rem;
  }
  .tab-input {
    width: 90%;
  }
  .tab-input img {
    transform: translateX(-1.4rem);
  }
  .primary-btn {
    width: 8rem;
    height: 2.7rem;
    font-size: 0.9rem;
    margin-right: 0.9rem;
    line-height: 2.7rem;
    cursor: pointer;
  }
  .tab-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  .tab-input {
    width: 100%;
  }
  .tab-input input {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
  }
  .tab-input img {
    transform: translateX(-1.2rem);
  }
  .primary-btn {
    width: 6rem;
    height: 2.4rem;
    font-size: 0.8rem;
    margin-right: 0.8rem;
    line-height: 2.4rem;
    cursor: pointer;
  }
  .tab-title {
    font-size: 1.8rem;
  }
  .tab-description {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  #first-screen {
    margin-bottom: 3rem;
  }
  .tabs {
    padding-top: 24vh;
  }
  .tab-title {
    font-size: 1.4rem;
  }
  .research-input-wrapper {
    width: 100%;
  }
  .research-input-wrapper label {
    font-size: 95%;
    margin-top: 0;
  }
  .research-btn-wrapper {
    margin-top: 0;
  }
  #research-tab .tab-input {
    flex-direction: column;
  }
  #research-tab .tab-input input {
    font-size: 95%;
  }
  #research-tab .tab-description {
    margin-top: 8px;
  }
}
