/* Overrides white from Nav.css */

#maps-page {
  position: relative;
  overflow-x: hidden;
}

#shownav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 1rem;
  width: 100vw;
  border: none;
  background-color: #0d0d0d;
  color: white;
  text-align: top;
}

#shownav:focus {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

.ol-attribution span {
  color: white;
}

.loading-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #eeeeee;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: none;
}

.loading-overlay p {
  text-transform: capitalize;
  font-size: 1.2rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
}

.loading-overlay.loading {
  display: flex;
}

/* Below styles for popups borrowed from https://openlayers.org/en/latest/examples/popup.html */

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  background: none !important;
  border: none;
  padding: 0 !important;
}

.ol-popup-closer:hover {
  text-decoration: underline;
}

.ol-popup-closer:after {
  content: "✖";
  color: black;
}

.ol-popup ul {
  list-style-type: none;
}

@media (max-width: 767px) {
  .loading-overlay p {
    font-size: 1rem;
  }
}