/* STORY CONTAINER*/

.unscrollable {
  height: 500px;
  overflow: hidden;
}

.stories-container {
  position: relative;
}

.stories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5.3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 6rem;
}

.main-stories {
  grid-column: 1 / span 2;
}

.result-for-and-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#recent-stories {
  color: #bababa;
  font-weight: 500;
  margin-top: 30px;
  font-size: 30px;
}

.click-filter {
  display: none;
  color: #d9d9d9;
  cursor: pointer;
  margin-top: 10px;
}

.click-filter:hover {
  text-decoration: underline;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.no-found-msg {
  color: white;
  display: flex;
  justify-content: center;
}

#direct-to-google-search {
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

#direct-to-google-search:hover {
  text-decoration: underline;
}

.spinner {
  border: 3px solid #575757;
  border-radius: 50%;
  border-top: 3px solid #dbdbdb;
  border-bottom: 3px solid #dbdbdb;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

.loading-text {
  position: relative;
}

.loading-text:before {
  position: absolute;
  content: "''";
  right: -22px;
  width: 20px;
  animation: ellipsisText 2s infinite;
}

@keyframes ellipsisText {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: ".";
  }
}

@keyframes loadingAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stories-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -100000;
  height: 100%;
  background: url("../images/jeremy-thomas-E0AHdsENmDg-unsplash.jpg");
  filter: brightness(50%);
  background-size: cover;
}

/* STORY CARD */

.story-card {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(201, 201, 201, 0.4);
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.story-card:last-child {
  margin-bottom: 21px;
}

/* HEADING CARD SECTION */

.heading-card-section {
  padding: 5px 25px;
}

.title-hyperlink {
  color: #fff;
  text-decoration: none;
}

.title-hyperlink:hover {
  text-decoration: underline;
}

.link-preview-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.created-detail {
  color: #d4d4d4;
  font-size: 13px;
  margin-bottom: 5px;
}

.liked-count {
  color: #ddd;
}

/* HORIZONTAL LINE */

hr {
  visibility: visible;
  margin: 0px auto;
  margin-top: 10px;
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient( to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

/* COMMENT AND LIKE CARD SECTION */

.like-flag-section {
  height: 60px;
  display: flex;
}

.button-group {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  order: 1;
}

.like-button {
  display: flex;
  align-items: center;
  flex: 1 0 0px;
  justify-content: center;
  cursor: pointer;
  color: #ddd;
  margin-left: 1px;
  margin-right: 2px;
  margin-bottom: 1px;
}

.flag-button {
  display: flex;
  align-items: center;
  flex: 1 0 0px;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  color: #ddd;
  margin-left: 2px;
  margin-right: 1px;
  margin-bottom: 1px;
}

.like-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 0 5px;
}

.flag-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 0;
}

.far {
  color: #ddd;
  cursor: pointer;
  margin-right: 5px;
}

.fas {
  margin-right: 5px;
}

.liked, .reported {
  color: #fc0037;
}

.liked-count {
  display: inline;
  font-size: 13px;
  padding-right: 10px;
  font-weight: bolder;
}

.delete-story-btn {
  display: inline-block;
  border: 1px solid rgba(201, 201, 201, 0.5);
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 1rem;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: rgba(255, 0, 0, 0.65);
  cursor: pointer;
}

/* SEARCH BAR IN STORIES PAGE */

#search-for-story {
  width: 100%;
  color: #0d0d0d;
  background-color: rgba(255, 255, 255, 0.85);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

#search-story-icon {
  position: absolute;
  right: 0;
  top: 23%;
  transform: translateX(-1rem);
  cursor: pointer;
}

#search-for-stories-title {
  color: #d4d4d4;
  margin-bottom: 10px;
  font-weight: 200;
}

.result-term {
  color: #d9d9d9;
  margin-top: 10px;
}

#search-term {
  font-style: italic;
  font-size: 20px;
}

.like-flag-view {
  margin-bottom: 30px;
}

/* COMMENT LIST COMPONENT */

.view-comments-btn {
  display: inline;
  border-left: 0.7px solid rgba(201, 201, 201, 0.5);
  padding-left: 10px;
  font-size: 14px;
  color: #ddd;
  cursor: pointer;
}

.view-comments-btn:hover {
  text-decoration: underline;
}

.comments-list {
  border-top: 0.7px solid rgba(201, 201, 201, 0.5);
}

/* COMMENT DETAIL COMPONENT */

.comment-detail {
  border-bottom: 0.4px solid rgba(201, 201, 201, 0.5);
  padding: 10px 10px;
  height: auto;
}

.comment-detail:last-child {
  border-bottom: none;
}

.user-name {
  color: rgb(181, 214, 255);
  margin-right: 5px;
  font-size: 17px;
}

.comment-content {
  color: white;
  font-size: 15px;
  font-weight: 300;
  word-break: break-all;
}

.comment-footer {
  /* margin-top: 16px;
  margin-bottom: 4px; */
  margin-left: 8px;
  font-size: 12px;
  display: inline;
}

.comment-hours-ago {
  /* margin-left: 8px; */
  font-weight: 800;
  color: #9c9c9c;
  margin-right: 5px;
}

.comment-likes-count {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bolder;
}

.delete-comment-btn {
  font-weight: bolder;
  background: transparent;
  border: none;
  outline: none;
  color: #9c9c9c;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  background-repeat: no-repeat;
}

.delete-comment-btn:hover {
  text-decoration: underline;
}

/* COMMENT COMPONENT */

.comment-input-container {
  display: flex;
  height: 0px;
  overflow: hidden;
}

.active-comment-input-container {
  height: 70px;
  border-top: 0.4px solid rgba(201, 201, 201, 0.5);
}

.comment-input {
  opacity: 0;
  margin: 15px 20px;
  width: 100%;
  color: #5a5a5a;
  border: 1px solid #dbdbdb;
  background-color: "#e0e0e0";
  padding: 5px 12px;
  font-size: 15px;
  font-weight: 300;
  border-radius: 20px;
}

.active-comment-input {
  opacity: 1;
}

.comment-input:focus {
  outline: none;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .stories-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 950px) {
  .stories-grid {
    display: block;
  }
  .main-stories {
    z-index: 99;
  }
  .click-filter {
    display: block;
  }
}

@media (max-width: 768px) {
  .stories-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .created-detail {
    font-size: 10px;
  }
  .liked-count {
    font-size: 12px;
  }
  .view-comments-btn {
    font-size: 13px;
  }
  hr {
    margin-top: 2px;
  }
  .comment-font-mobile {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .hHQVDB {
    font-size: 10px;
  }
}